.serifStyle {
	font-family: "Noto Serif JP";
}

.boxshadow1 {
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
}

.boxshadow3 {
	-webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
}

.boxshadow5 {
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
}

/* .lead_btn {
	border-radius: 5.4rem;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
} */

.issueBlueTxt {
	padding-right: 20.5rem;
	box-sizing: border-box;
	position: relative;
}

.fbstt {
	width: 30rem;
	text-align: center;
	margin: 0 auto;
	border-bottom: 1px solid #1A4369;
	margin-bottom: 3.5rem;
}

.pFButton {
	margin-bottom: 3rem;
}

.pFButton > a {
	width: 49.3%;
}

.PFTitle {
	height: 3.64rem;
	display: block;
	margin: 0 auto;
	margin-bottom: 1.8rem;
}

.slickFeedback .slick-prev,
.slickFeedback .slick-next {
	width: 3.5rem;
	height: 3.5rem;
	background-image: url(../img/common/arrL.svg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 9;
	left: 1.3rem;
}

.slickFeedback .slick-next {
	transform: translate(0, -50%) rotate(180deg);
	left: initial;
	right: 1.3rem;
}

.slickFeedback .slick-prev:before,
.slickFeedback .slick-next:before {
	display: none;
}

.slickFeedback .slick-dots {
	bottom: -1rem;
}

.slickFeedback .slick-dots li button:before {
	font-size: 1.2rem;
	color: #999999;
	opacity:  1;
}

.slickFeedback .slick-dots li.slick-active button:before {
	color: #1A4369;
	opacity:  1;
}

.slickFeedback .slick-dots li {
	margin: 0 0.5rem;
}

.fb_item {
	width: 64.7rem;
	min-height: 78rem;
	border-radius: 3rem;
	border: 0.1rem solid #1A4369;
	margin: 0 3rem;
	background-color: #EEF3F4;
	padding: 4rem 0 0 0;
	margin-bottom: 0.5rem;
	box-sizing: border-box;
	box-shadow: 0.5rem 0.5rem 0px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0.5rem 0.5rem 0px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0.5rem 0.5rem 0px 0px rgba(0,0,0,0.15);
}

.fb_title {
	position: relative;
	margin-bottom: 3.2rem;
}

.fb_title p {
	color: #1A4369;
	font-size: 2.1rem;
	line-height: 1.5;
	margin-left: 28rem;
}

.fb_title > img {
	position: absolute;
	width: 22.3rem;
	top: -0.1rem;
	left: 4rem;
}

.fb_blue_tt  {
	background-color: #1A4369;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 43.1rem;
	padding: 2rem 0 2rem 11.3rem;
	box-sizing: border-box;
	margin-left: 16.5rem;
	margin-bottom: 1.5rem;
}

.fb_blue_tt > img {
	width: 27.8rem;
}

.fb_des {
	width: 58.3rem;
	background: #FFF;
	margin: 0 auto;
	border-radius: 1.5rem;
	padding: 1.2rem 2rem 2.2rem 2rem;
}

.fb_des p {
	font-size: 2.5rem;
	line-height: 1.44;
	color: #3E3A39;
	margin-bottom: 1.8rem;
	box-sizing: border-box;
}

.fb_des p span {
	font-weight: bold;
	border-bottom: 2px solid #3E3A39;
}

.fb_des p:last-child {
	margin-bottom: 0;
}

.issue_tt {
	width: 76rem;
    margin-left: -0.5rem;
}

.issue {
	border-radius: 1.5rem;
	padding: 5rem 0 4rem 0;
}

.top_slider {
	position: relative;
	padding-left: 23rem;
	box-sizing: border-box;
	margin-bottom: 3rem;
}

.top_slider > img {
	position: absolute;
    width: 18.8rem;
    left: 5.5rem;
    top: -5.5rem;
}

.ps_item {
	margin: 0 1rem;
	padding: 2.5rem 3rem;
	border-radius: 15px;
	background-color: #E9EEEF;
	width: 65rem;
	box-sizing: border-box;
}

.ps_av {
	position: relative;
	box-sizing: border-box;
}

.ps_av > img {
	width: 47.2rem;
}

.psname {
	position: absolute;
	border-radius: 0.9rem;
	background-color: #2076B0;
	min-width: 20.8rem;
	bottom: 1.4rem;
	right: 3rem;
	padding: 0.7rem 1.8rem;
	box-sizing: border-box;
	font-size: 3.7rem;
}

.psname p:first-child {
	border-bottom: 1px solid #FFF;
}

.ps_des {
	padding: 1rem 1.8rem;
	box-sizing: border-box;
	min-height: 11.2rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-top: 0.1rem solid #1A4369;
	border-bottom: 0.1rem solid #1A4369;
}

.ps_des hr {
	height: 0.1rem;
	background-color: #1A4369;
	border: none;
}

.tbLine {
	border-top: 0.2rem solid #FF6E00;
	border-bottom: 0.2rem solid #FF6E00;
	padding-top: 1.7rem;
	padding-bottom: 1.3rem;
}

.slider03 .slickFeedback .slick-prev {
	left: -1.8rem;
}

.slider03 .slickFeedback .slick-next {
	right: -1.2rem;
}

.banner_date.alone {
	top: 9rem;
    left: 1.8rem;
}

.step3_square {
	width: 46.6rem;
	margin: 0 auto;
	text-align: center;
	line-height: 1.5;
	border: 0.1rem solid #3E3A39;
	padding: 1.6rem 0;
}

.course_box h2 {
	padding-right: 12rem;
	box-sizing: border-box;
}

.border_tb {
	width: 34.5rem;
	margin: 0 auto;
	border-top: 0.1rem solid #1A4369;
	border-bottom: 0.1rem solid #1A4369;
	padding: 2.2rem 0 1.2rem 0;
	line-height: 1.4;
}

.point_block .step_box {
	padding: 3rem;
}

.course_item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.course_item > img {
	width: 29.5rem;
}

.course_item > div {
	width: 32rem;
}

.course_item > div h3 {
	line-height: 1.65;
}

ul.check_green li {
	padding-left: 3.5rem;
	box-sizing: border-box;
	position: relative;
	line-height: 1.9;
}

ul.check_green li:after {
	content: '';
	position: absolute;
	width: 2.46rem;
	height: 2.455rem;
	background: url(../img/course/check.svg) no-repeat;
	background-size: cover;
	top: 0.5rem;
	left: 0;
}

hr.hrcourse {
	margin: 3rem auto;
	width: 15.7rem;
	height: 0.1rem;
	background-color: #1A4369;
	border: none;
}

.course_box_foot {
	background-color: #EEF3F4;
	border-radius: 1.6rem;
	padding: 1.5rem 0 1.5rem 3rem;
	box-sizing: border-box;
	margin-top: 2.5rem;
}

.course_box_foot ul.check_green li {
	padding-left: 3rem;
}

.course_box_foot ul.check_green li:after {
	top: 1rem;
}

.boxY {
	padding-left: 8rem;
	box-sizing: border-box;
	position: relative;
}

.boxY p {
	display: inline-block;
	text-align: center;
}

.boxY > img {
	position: absolute;
	width: 12rem;
    bottom: -0.1rem;
    left: 2.3rem;
}

.boxYR {
	margin: 0 auto;
	margin-bottom: 3rem;
	padding: 2rem 12rem 2rem 0rem;
	box-sizing: border-box;
}

.boxYR > img {
	width: 11rem;
	right: 1.5rem;
	left: initial;
}

.boxYZ {
	margin: 0 auto;
	padding-left: 10.5rem;
	margin-bottom: 4rem;
}

.boxYZ > img {
	width: 8.4rem;
}

.boxYR .orange_txt {
	padding-top: 0.2rem;
	margin-top: 0.8rem;
}

.noteSlick {
	height: 15rem;
	background-image: url(../img/gakken/note.svg);
	background-size: 100% 100%;
	padding: 2.8rem 0;
}

.slickCustomDot ul {
	display: flex;
	justify-content: space-between;
}

.slickCustomDot ul li {
	padding-top: 1.3rem;
	width: 23rem;
	height: 8.1rem;
	background-image: url(../img/gakken/slickdot.svg);
	background-size: 100% 100%;
	cursor: pointer;
}

#banner_box_2 .slick-slide {
	margin-bottom: 0;
}

.arrbg {
	background-image: url(../img/gakken/bgarrr.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	padding: 0 0 11.5rem 0;
}

.banner_date_alone {
	top: 12.8rem;
}

#course ul li {
	position: relative;
}

/* #course ul li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0.3rem;
	background-color: #1A4369;
	left: 0;
	bottom: -2.25rem;
} */

#course ul li:last-child:after {
	display: none;
}

.alc {
	align-self: center;
}

/* .ttlwb h3 {
	background: #1a4369;
    padding: 0.3rem 2rem;
    position: absolute;
    right: 0;
    bottom: 2.8rem;
} */

.tableDiff {
    display: flex;
    justify-content: space-between;
}

.tableDiff ul li {
    font-size: 2rem;
    line-height: 1.154;
    min-height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.tableDiff ul li:after {
    content: '';
    position: absolute;
    height: 0.2rem;
    background-color: #FFF;
    width: 13.4rem;
    max-width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.tableDiff .colWhite ul li:after {
    width: 17.4rem;
	background-color: #A9A9A9;
}

.tableDiff .colGrey ul li:after {
    width: 15.6rem;
	background-color: #A9A9A9;
}

.tableDiff ul li:last-child:after {
    display: none;
}

.tableDiff ul li > p {
    width: 100%;
    text-align: center;
}

.tableDiff ul li > p.colTitle {
    font-weight: 900;
    color: #000000;
}

.tableDiff ul li > p.colTitle span {
    color: #199342;
}

.tableDiff ul li {
    min-height: 7.2rem;
}

.tableDiff ul li > img {
	width: 2.6rem;
	height: 2.6rem;
}

.tableDiff .colBlue {
    width: 22%;
    background-color: #2076B0;
    color: #FFFFFF;
    align-self: center;
}

.tableDiff .colWhite {
    width: 30%;
    background-color: #FFFFFF;
    font-weight: bold;
    border: 0.4rem solid #646464;
    border-radius: 1.6rem;
    padding: 2rem 0;
}

.tableDiff .colGrey {
    width: 24%;
    background-color: #F3F8F9;
    color: #3E3A39;
    border: 0.4rem solid #646464;
    align-self: center;
    border-left: none;
}

.tableDiff .colGrey.startcol {
	border-right: none;
}

p.tableDiffFoot {
    font-size: 1.6rem;
    color: #3E3A39;
    text-align: right;
    margin-top: -1rem;;
}

.v_ttl {
    min-height: 13.2rem;
    display: flex;
    align-items: flex-end;
}

.mb9 {
    margin-bottom:0.9rem
}

.v_img {
    top: 0.4rem;
}

.v_body {
    border: 0.1rem solid #DEF2E8;
}

.p17 {
    padding: 1.7rem;
}

.mgt-5 {
	margin-top: -0.5rem;
}

.lb-dataContainer {
    position: absolute;
    top: -8rem;
    left: 50%;
    transform: translate(-50%,0);
}

#cboxContent {
	background-color: transparent;
    margin: 0 auto;
    float: initial !important;
}

.bannerOneImg > p {
	font-size: 3.636rem;
	font-weight: bold;
	color: #FF5A5A;
	text-align: center;
	background-image: url(../img/gakken/lrIcon.svg);
	background-size: 41.2rem auto;
	background-position: center 0.1rem;
	background-repeat: no-repeat;
	line-height: 1.25;
}

.btn_box > span {
	position: absolute;
	color: #FFF;
	font-size: 3rem;
	font-weight: bold;
	text-shadow: 0.1rem 0.1rem 0.1rem rgba(56, 37, 4, 0.5);
	left: 12rem;
	top: 48.5%;
	transform: translate(0,-50%);
	white-space: nowrap;
}

.hfBtn,
.hfBtnLar {
	position: relative;
}

.hfBtn > span {
	position: absolute;
	color: #FFF;
	font-size: 1.8rem;
	font-weight: bold;
	text-shadow: 0.1rem 0.1rem 0.1rem rgba(56, 37, 4, 0.5);
	left: 5.5rem;
    top: 52.5%;
    transform: translate(0,-50%);
    white-space: nowrap;
}

.hfBtnLar > span {
	position: absolute;
	color: #FFF;
	font-size: 2.4rem;
	font-weight: bold;
	text-shadow: 0.1rem 0.1rem 0.1rem rgba(56, 37, 4, 0.5);
	left: 8.6rem;
    top: 52.5%;
    transform: translate(0,-50%);
    white-space: nowrap;
}

.blockG01 p.bglr {
	font-size: 2.6rem;
	font-weight: bold;
	color: #FF5A5A;
	text-align: center;
	background-image: url(../img/gakken/lrIcon.svg);
	background-size: 32rem auto;
	background-position: center 0.1rem;
	background-repeat: no-repeat;
	margin-bottom: 1rem;
}

/*tabの形状*/
.tabnav {
	display: flex;
	flex-wrap: wrap;
}
.tabnav li {
	width: 23rem;
	margin: 0 1rem 0 0;
	text-align: center;
}
.tabnav li:last-child {
	margin: 0;
}
.tabnav li span {
	display: block;
	background: #999999;
	line-height: 6rem;
	border-radius: 9px 9px 0 0;
	text-decoration: none;
	transition: 0.3s;
	cursor: pointer;
}
.tabnav li span:hover {
	opacity: 0.8;
}
.tabnav li span:focus, .tabnav li span:active {
	opacity: 1;
}
/*liにactiveクラスがついた時の形状*/
.tabnav li.active span {
	pointer-events: none;
	background: #199342;
}

/*エリアの表示非表示と形状*/
.tab_area {
	display: none;
	opacity: 0;
}
/*areaにis-activeというクラスがついた時の形状*/
.tab_area.show {
	display: block;
	opacity: 1;
}

.cusTabGroup {
	width: 75rem;
}

.cusTabGroup .tabgroup {
	border: 0.2rem solid #3C3939;
	border-top: 0.1rem;
	border-radius: 0.2rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.cusTabGroup .tabnav {
	flex-wrap: nowrap;
	width: 75rem;
	margin-left: -0.2rem;
	margin-top: -0.2rem;
}

.cusTabGroup .tabnav li {
	width: calc(50% + 0.1rem);
	margin: 0;
	box-sizing: border-box;
	margin-left: -0.2rem;
}

.cusTabGroup .tabnav li:first-child {
	margin-left: 0;
}

.cusTabGroup .tabnav li span {
	line-height: 1.5;
	background-color: #D8DBDC;
	font-size: 3.12rem;
	color: #3C3939;
	border: 0.2rem solid #3C3939;
	border-radius: 0.2rem;
	border-top-right-radius: 0.35rem;
	border-top-left-radius: 0.35rem;
	transition: initial;
	font-weight: bold;
}

.cusTabGroup .tabnav li span:hover {
	opacity: 1;
}

.cusTabGroup .tabnav li.active span {
	background-color: #F29A30;
	color: #FFF;
	border-bottom: 0;
}

.cusTabGroup #liGrey.active {
	background-color: #F29A30;
}

.cusTabGroup .tabnav li:first-child.active {
    background-color: #50aac7;
}

.cusTabGroup .tabnav li:first-child.active span {
    color: #FFF;
    background-color: #50aac7;
}

.tabGreyImg {
    margin-top: -1px;
}

.cusTabGroup .tab_area .tlText {
	width: 66.6rem;
}

.cusTabGroup .taLeft {
	padding: 1.2rem 0 1.6rem 0;
	background-image: url(../img/custom/tlBg.jpg);
	background-size: 100% 100%;
}

.cusTabGroup .textWhite {
	height: 18.2rem;
	border-radius: 1rem;
	width: 67.8rem;
	padding: 0.21rem;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	background-color: #FAFCFC;
}

.cusTabGroup .textWhite .tw1Img {
	width: 34.6rem;
}

.cusTabGroup .textWhite .tw2Img {
	width: 25rem;
}

.cusTabGroup .textWhite.leftPart {
	text-align: left;
}

.cusTabGroup .textWhite.rightPart {
	text-align: right;
}

.cusTabGroup .textWhite .gTW {
	position: absolute;
	top: -0.7rem;
	text-align: left;
	left: 1.35rem;
}

.cusTabGroup .textWhite.leftPart .gTW {
	left: 25rem;
}

.cusTabGroup .textWhite .gTW h3 {
	margin-bottom: 0.4rem;
	width: 30.5rem;
	height: 5.7rem;
	padding-top: 0.8rem;
	box-sizing: border-box;
	font-size: 2.6rem;
	font-weight: bold;
	color: #FAFCFC;
	text-align: center;
	background-image: url(../img/custom/tlLbl01.png);
	background-size: cover;
}

.cusTabGroup .textWhite.leftPart .gTW h3 {
	background-image: url(../img/custom/tlLbl02.png);
	background-size: cover;
	margin-left: 6rem;
}

.cusTabGroup .textWhite .gTW p {
	font-size: 2.113rem;
	color: #211714;
	font-weight: bold;
	line-height: 1.38;
	padding-left: 3.5rem;
	position: relative;
	margin-bottom: 1.1rem;
	margin-left: 1rem;
}

.cusTabGroup .textWhite.leftPart .gTW p {
	font-size: 1.8rem;
	padding-left: 2.8rem;
	margin-bottom: 1.8rem;
}

.cusTabGroup .textWhite .gTW p:last-child {
	margin-bottom: 0;
}

.cusTabGroup .textWhite .gTW p:after {
	content: '';
	position: absolute;
	height: 2.356rem;
	width: 2.336rem;
	background-image: url(../img/custom/white-check.svg);
	background-size: 100% 100%;
	top: 50%;
	left: 0;
	transform: translate(0,-50%);
}

.cusTabGroup .textWhite.leftPart .gTW p:after {
	height: 2.4rem;
	width: 2.2rem;
}

.taLeftDes {
	font-size: 1.3rem;
	text-align: right;
	font-weight: bold;
	color: #3C3939;
	padding: 1rem 1.2rem 0 0;
}

.cusTabGroup .taRight {
	padding: 3.5rem 0 1.5rem 0;
	box-sizing: border-box;
	background-image: url(../img/custom/trBg.png);
	background-size: 100% auto;
	background-position: bottom;
	background-repeat: no-repeat;
}

.cusTabGroup .orangeContent {
	width: 67.5rem;
	margin: 0 auto;
	margin-bottom: 3.5rem;
	position: relative;
}

.cusTabGroup .orangeContent .trImg02 {
	width: 62.58rem;
	position: absolute;
	left: 50%;
	top: 4.8rem;
	transform: translate(-50%,0);
	z-index: 1;
}

.cusTabGroup .orangeContent .trImg01 {
	position: absolute;
	height: 25.3rem;
	bottom: 0;
	right: -1.5rem;
}

.cusTabGroup .orangeRow {
	width: 67.5rem;
	height: 22.85rem;
	background-color: #FAFCFC;
	border: 0.2rem solid #FF7800;
	border-radius: 1rem;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
}

.cusTabGroup .orangeRow img {
	height: 100%;
}

.cusTabGroup .orangeRow .orangeRowContent {
	position: absolute;
	top: -0.8rem;
	left: 27.8rem;
}

.cusTabGroup .orangeRow .orangeRowContent h3 {
	width: 30.5rem;
	height: 5.7rem;
	padding-top: 0.8rem;
	box-sizing: border-box;
	font-size: 2.6rem;
	font-weight: bold;
	color: #FAFCFC;
	text-align: center;
	background-image: url(../img/custom/tlLbl03.png);
	background-size: cover;
	margin-left: 3.7rem;
	margin-bottom: 1rem;
}

.cusTabGroup .orangeRow .orangeRowContent p {
	font-size: 2.1rem;
	color: #211714;
	font-weight: bold;
	line-height: 1.38;
	padding-left: 3.5rem;
	position: relative;
	margin-bottom: 1.1rem;
}

.cusTabGroup .orangeRow .orangeRowContent p:last-child {
	margin-bottom: 0;
}

.cusTabGroup .orangeRow .orangeRowContent p:after {
	content: '';
	position: absolute;
	height: 2.356rem;
	width: 2.336rem;
	background-image: url(../img/custom/orange-check.svg);
	background-size: 100% 100%;
	top: 50%;
	left: 0;
	transform: translate(0,-50%);
}

.taRightDes {
	font-size: 1.3rem;
	text-align: right;
	font-weight: bold;
	color: #3C3939;
	padding: 1.2rem 1.2rem 0 0;
}

#greyTab,
#orangeTab {
	cursor: pointer;
}

@media screen and (max-width:480px) {
    .cusTabGroup .textWhite.leftPart .gTW p {
        font-size: 1.7rem;
    }
}

.circleChart {
	text-align: center;
}

.circleChart > img {
	width: 70rem;
	margin-bottom: 4rem;
	display: inline-block;
}

.circleChart > p {
	display: inline-block;
	text-align: left;
}

.w630Tt3 p {
	position: absolute;
	left: 1.5rem;
	bottom: 2rem;
}

.compareThree .w650 {
	margin: 0 auto;
}

.compareThree li h3 {
	display: inline-flex;
	align-items: center;
}

.compareThree li h3 strong {
	font-size: 2.8rem;
	background-color: #FF6E00;
	color: #FFF;
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1.2rem;
	line-height: 1;
}

.compareThree li h3 img {
	position: absolute;
	height: 4.7rem;
    right: -3.5rem;
    bottom: 0.5rem;
}

.compareThree li:nth-child(2) h3 img {
	height: 4.2rem;
}

.compareThree li:nth-child(3) h3 img {
	height: 3.7rem;
}

#issue .issueH2 img {
	position: absolute;
	width: 64.3rem;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
}

#issue {
	background-image: url(../img/issue/bgarr.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom;
}

.zIDIssue {
	position: relative;
	z-index: -1;
}

.rightPab {
	position: absolute;
	height: 25rem;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
}

.leftPab {
	position: absolute;
	height: 25rem;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
}

#voice .ttl::after {
	background: url(../img/common/ttl01.svg) no-repeat center center;
    background-size: cover;
}

#voice_txt01.voice_txt {
	min-height: 45rem;
}

#voice_txt02.voice_txt {
	min-height: 24rem;
}

#voice_txt03.voice_txt {
	min-height: 36rem;
}

#voice_txt04.voice_txt {
	min-height: 24rem;
}

#voice_txt05.voice_txt {
	min-height: 36rem;
}

#voice_txt06.voice_txt {
	min-height: 30rem;
}

.pH3Icon h3 {
	text-align: left;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
}

.pH3Icon h3 img {
	position: absolute;
	right: -0.5rem;
    top: -4rem;
}

.pH3Icon.icoS h3{
	padding-right: 10rem;
}

.pH3Icon.icoS h3 img {
	width: 9.8rem;
}

.pH3Icon.icoM h3{
	padding-right: 10.8rem;
	white-space: nowrap;
}

.pH3Icon.icoM h3 img {
	width: 10.8rem;
	right: -2rem;
    top: -2rem;
}

.ltsp-1 {
	letter-spacing: -0.1rem;
}

@media screen and (min-width:600px) {
	.lb-dataContainer {
    	top: -4rem;
	}
}

@media screen and (max-width:599px) {
	#cboxContent,
	#cboxLoadedContent {
		width: 100% !important;
	}
}

.gk77 {
    position: absolute;
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.2;
    top: 4rem;
    right: 26rem;
    font-weight: bold;
    color: #FFF;
    min-width: 11.3rem;
    font-family: "游ゴシック", "游ゴシック体", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    padding: .1rem .2rem;
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.gk77_03{
    right: 27rem;
}

.gk77 strong {
    color: #EE6C00;
}

.gk77_01 {
    position: absolute;
    text-align: center;
    font-size: 2.4rem;
    top: 1.5rem;
    left: -2.5rem;
    font-weight: bold;
    color: #EE6C00;
    min-width: 15rem;
    font-family: "游ゴシック", "游ゴシック体", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.gk77_02 {
    position: absolute;
    text-align: center;
    font-size: 2.4rem;
    top: 1.5rem;
    left: -4rem;
    font-weight: bold;
    color: #EE6C00;
    min-width: 15rem;
    font-family: "游ゴシック", "游ゴシック体", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.gk77_01 strong {
    color: #EE6C00;
    font-size: 5rem;
}

.gk77_02 strong{
    color: #EE6C00;
    font-size: 5rem;
}

#banner .box02{
	padding-top: 0;
	padding-bottom: 0;
}

.fsGakken106 {
    font-size: 1rem;
    padding: 0 7rem 2rem 8rem;
    box-sizing: border-box;
    font-weight: 600;
}

.fv {
	margin-bottom: -8rem;
    position: relative;
    z-index: 11;
}
#step_tel {
    width: 19.3rem;
}

a.aTagTel { 
    position: relative;
}

a.aTagTel span {
    position: absolute;
    content: '0120-351056';
    color: #3e3a39;
    font-size: 2.5rem;
    font-weight: bold;
    white-space: nowrap;
    left: 4rem;
    top: -0.6rem;
}