@charset "utf-8";

/*----- common -----*/
html {font-size: 62.5%;}
body {
  font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-feature-settings: "palt";
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1A1A1A;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  padding-top: 8.2rem;
}
.notoSerif {font-family: 'Noto Serif JP', serif;}
.notoSansJP {font-family: 'Noto Sans JP', sans-serif}
.dnone, .sp {display: none;}
.db {display: block;}
.dbauto {display: block; margin: 0 auto;}
.dib {display: inline-block;}
.tac {text-align: center;}
.tar {text-align: right;}
.tal {text-align: left;}
.relative {position: relative;}
.z1 {z-index: 1;}
hr {border:none; border-bottom: 0.1rem solid #1A4369; margin: 0;}

.brb15 {border-radius: 0 0 1.5rem 1.5rem;}
.br15 {border-radius: 1.5rem;}
.br12 {border-radius: 1.2rem;}
.br10 {border-radius: 1rem;}
.br6 {border-radius: 0.6rem;}

/*---------- upper -----------*/
#container {
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
}
.box {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
}
.m_box {
  position: relative;
  padding-left: 5rem;
  padding-right: 5rem;
}
.s_box {
  position: relative;
  padding-left: 8rem;
  padding-right: 8rem;
}

/*----- column -----*/
.flex {display: flex;}
.sec, .sec_rev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec_rev {flex-direction: row-reverse;}
.jcc {justify-content: center;}
.aic {align-items: center;}

/*---------- margin,padding -----------*/
.w150 {width: 15rem;}
.w193 {width: 19.3rem;}
.w200 {width: 20rem;}
.w230 {width: 23rem;}
.w250 {width: 25rem;}
.w264 {width: 26.4rem;}
.w300 {width: 30rem;}
.w307 {width: 30.7rem;}
.w310 {width: 31rem;}
.w320 {width: 32rem;}
.w322 {width: 32.2rem;}
.w330 {width: 33rem;}
.w348 {width: 34.8rem;}
.w360 {width: 36rem;}
.w400 {width: 40rem;}
.w428 {width: 42.8rem;}
.w430 {width: 43rem;}
.w432 {width: 43.2rem;}
.w438 {width: 43.8rem;}
.w440 {width: 44rem;}
.w450 {width: 45rem;}
.w460 {width: 46rem;}
.w470 {width: 47rem;}
.w490 {width: 49rem;}
.w520 {width: 52rem;}
.w570 {width: 57rem;}
.w590 {width: 59rem;}
.w630 {width: 63rem;}
.w650 {width: 65rem;}
.w680 {width: 68rem;}

/*---------- margin,padding -----------*/
.mb5 {margin-bottom: .5rem;}
.mb10 {margin-bottom: 1rem;}
.mb15 {margin-bottom: 1.5rem;}
.mb20 {margin-bottom: 2rem;}
.mb22 {margin-bottom: 2.2rem;}
.mb25 {margin-bottom: 2.5rem;}
.mb30 {margin-bottom: 3rem;}
.mb38 {margin-bottom: 3.8rem;}
.mb40 {margin-bottom: 4rem;}
.mb45 {margin-bottom: 4.5rem;}
.mb50 {margin-bottom: 5rem;}
.mb60 {margin-bottom: 6rem;}
.mb70 {margin-bottom: 7rem;}
.mb90 {margin-bottom: 9rem;}
.mb100 {margin-bottom: 10rem;}
.mb105 {margin-bottom: 10.5rem;}
.mb120 {margin-bottom: 12rem;}

.mt5 {margin-top: 0.5rem;}
.mt10 {margin-top: 1.0rem;}
.mt15 {margin-top: 1.5rem;}
.mt20 {margin-top: 2rem;}
.mt30 {margin-top: 3rem;}
.mt35 {margin-top: 3.5rem;}
.mt40 {margin-top: 4rem;}
.mt45 {margin-top: 4.5rem;}
.mt50 {margin-top: 5rem;}
.mt60 {margin-top: 6rem;}
.mt65 {margin-top: 6.5rem;}
.mt70 {margin-top: 7rem;}

.p3 {padding: 0.3rem;}
.p5 {padding: 0.5rem;}
.p10 {padding: 1rem;}
.p15 {padding: 1.5rem;}
.p20 {padding: 2rem;}
.p25 {padding: 2.5rem;}
.p30 {padding: 3rem;}

.pb15 {padding-bottom: 1.5rem;}
.pb20 {padding-bottom: 2rem;}
.pb30 {padding-bottom: 3rem;}
.pb35 {padding-bottom: 3.5rem;}
.pb40 {padding-bottom: 4rem;}
.pb45 {padding-bottom: 4.5rem;}
.pb50 {padding-bottom: 5rem;}
.pb60 {padding-bottom: 6rem;}
.pb75 {padding-bottom: 7.5rem;}
.pb85 {padding-bottom: 8.5rem;}
.pb90 {padding-bottom: 9rem;}
.pb115 {padding-bottom: 11.5rem;}
.pb120 {padding-bottom: 12rem;}

.pt10 {padding-top: 1rem;}
.pt20 {padding-top: 2rem;}
.pt30 {padding-top: 3rem;}
.pt45 {padding-top: 4.5rem;}
.pt60 {padding-top: 6rem;}
.pt75 {padding-top: 7.5rem;}
.pt90 {padding-top: 9rem;}
.pt105 {padding-top: 10.5rem;}

.ptb2 {padding-top: 0.2rem; padding-bottom: 0.2rem;}
.ptb5 {padding-top: 0.5rem; padding-bottom: 0.5rem;}
.ptb10 {padding-top: 1rem; padding-bottom: 1rem;}
.ptb20 {padding-top: 2rem; padding-bottom: 2rem;}
.ptb25 {padding-top: 2.5rem; padding-bottom: 2.5rem;}
.ptb30 {padding-top: 3rem; padding-bottom: 3rem;}
.ptb60 {padding-top: 6rem; padding-bottom: 6rem;}

.pl30{padding-left: 3rem;}
.pl70{padding-left: 7rem;}

.plr0 {padding-left: 0 !important; padding-right: 0 !important;}
.plr5 {padding-left: 0.5rem; padding-right: 0.5rem;}
.plr10 {padding-left: 1rem; padding-right: 1rem;}
.plr20 {padding-left: 2rem; padding-right: 2rem;}
.plr30 {padding-left: 3rem; padding-right: 3rem;}
.plr50 {padding-left: 5rem; padding-right: 5rem;}

.mlr30{margin-left: 3rem; margin-right: 3rem;}
/*----- img -----*/
.c_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.r_img {
  display:block;
  margin: 0 0 0 auto;
}

.h_img {
  transition: 0.3s;
}

.h_img:hover {
  opacity: 0.8;
}

.seft-c {
  margin: 0 auto;
  display: block;
}
/*----- color -----*/
.green {color: #1C8B41;}
.blue {color: #151E42;}
.seblue {color: #1380A2;}
.pink {color: #ff5a5a;}
.sepink {color: #FF5A7D;}
.red {color: #A41B30;}
.redpink {color: #A21424;}
.orange {color: #EA8000;}
.orangeE08 {color: #E08000;}
.seorange {color: #7F5336;}
.yellow {color: #fff002;}
.white {color: #FFF;}
.grey {color: #C8D3D6;}
.grey02 {color: #3E3A39;}
.segrey {color: #505050;}
.sewhite {color: #DBD8CB;}
.seyellow {color: #FFFF4B;}
.seyellow {color: #FFFF4B;}
.black {color: #291900;}
.brown {color: #7F5336;}

.blue_bg {background: #F6FAFA;}
.green_bg {background: #f5fff5;}
.yellow_bg {background: #FFFAEB;}
.yellow_bg02 {background: #FFE4B0;}
.yellow_bg03 {background: #BD8E41;}
.white_bg {background: #ffffff;}
.black_bg {background: #000000;}
.grey_bg {background: #F6F6F6;}
.grey_bg02 {background: #C8C8C8;}
.grey_bg03 {background: #666666;}
.lightPink_bg{background: #F9F3E8;}
.yellow_bg {background: #F9F3E8;}
.brownD6C_bg{background: #D6C3A3;}
.brownC2A_bg{background: #C2A07A;}
.orange_bg{background: #E08000;}



.green_box {border: 0.2rem solid #199342;}
.blue_box {border: 0.2rem solid #1a4369;}
.pink_box {border: 0.2rem solid #ff5a5a;}
.black_box {border: 0.1rem solid #291900;}
.orange_box {border: 0.2rem solid #FF7C00;}
.seorange_box {border: 0.2rem solid #7F5336;}
.seblue_box {border: 0.2rem solid #1380A2;}
#strong .seblue_box {border: 0.33rem solid #1380A2;}
.blue_ttl {
  background: #1a4369;
}

/*----- text -----*/
i {
  display: inline-block;
  font-style: normal;
  transform: rotate(15deg);
}
.r_txt {margin: 0 0 0 auto;}
.ttl {
  text-align: center;
}
/* .ttl::after {
  content: "";
  display: block;
  width: 3.6rem;
  height: 0.6rem;
  margin: 2rem auto 0 auto;
  background: url(../img/common/ttl.svg) no-repeat center center;
  background-size: cover;
} */

.ttl.redpink::after {
  background: url(../img/common/ttlred.svg) no-repeat center center;
  background-size: cover;
}
mark {
  position: relative;
  z-index: 1;
  display: inline-block;
}
mark:after {
  content:"";
  display: block;
  width: 100%;
  height: 1rem;
  position: absolute;
  left: 0rem;
  bottom:0.5rem;
  z-index: -1;
  background: #FFFF4B;
}

bluemark {
  position: relative;
  z-index: 1;
  display: inline-block;
}
bluemark:after {
  content:"";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  z-index: -1;
  background: #151E42;
}
.pink_txt {
  background: #ff5a5a;
  color: #ffffff;
  font-weight: bold;
}
.brown_txt {
  background: #BD8E41;
  color: #ffffff;
  font-weight: bold;
}
.orange_txt {
  background: #FF7C00;
  color: #ffffff;
  font-weight: bold;
}
.seorange_txt {
  background: #7F5336;
  color: #ffffff;
  font-weight: bold;
}
.thorange_txt {
  background: #EA8000;
  color: #ffffff;
  font-weight: bold;
}
.green_txt {
  background: #199342;
  color: #ffffff;
  font-weight: bold;
}
.blue_txt {
  background: #00396D;
  color: #ffffff;
  font-weight: bold;
}
.seblue_txt {
  background-color: #1380A2;
  font-weight: bold;
  color: #ffffff;
}

.sebrown_txt {
  background-color: #7F5336;
  font-weight: bold;
  color: #ffffff;
  padding: 0.6rem 0.3rem;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
}

.fs12 {font-size: 1.2rem;}
.fs13 {font-size: 1.3rem;}
.fs14 {font-size: 1.4rem;}
.fs16 {font-size: 1.6rem;}
.fs18 {font-size: 1.8rem;}
.fs20 {font-size: 2rem;}
.fs21 {font-size: 2.1rem;}
.fs22 {font-size: 2.2rem;}
.fs23 {font-size: 2.3rem;}
.fs24 {font-size: 2.4rem;}
.fs25 {font-size: 2.5rem;}
.fs26 {font-size: 2.6rem;}
.fs27 {font-size: 2.7rem;}
.fs28 {font-size: 2.8rem;}
.fs30 {font-size: 3rem;}
.fs31 {font-size: 3.1rem;}
.fs32 {font-size: 3.2rem;}
.fs33 {font-size: 3.3rem;}
.fs34 {font-size: 3.4rem;}
.fs35 {font-size: 3.5rem;}
.fs36 {font-size: 3.6rem;}
.fs38 {font-size: 3.8rem;}
.fs40 {font-size: 4.0rem;}
.fs42 {font-size: 4.2rem;}
.fs44 {font-size: 4.4rem;}
.fs45 {font-size: 4.5rem;}
.fs46 {font-size: 4.6rem;}
.fs47 {font-size: 4.7rem;}
.fs48 {font-size: 4.8rem;}
.fs50 {font-size: 5rem;}
.fs52 {font-size: 5.2rem;}
.fs55 {font-size: 5.5rem;}
.fs54 {font-size: 5.4rem;}
.fs56 {font-size: 5.6rem;}
.fs58 {font-size: 5.8rem;}
.fs59 {font-size: 5.9rem;}
.fs60 {font-size: 6rem;}
.fs63 {font-size: 6.3rem;}
.fs64 {font-size: 6.4rem;}
.fs68 {font-size: 6.8rem;}
.fs70 {font-size: 7rem;}
.fs74 {font-size: 7.4rem;}
.fs80 {font-size: 8rem;}
.fs82 {font-size: 8.2rem;}
.fs90 {font-size: 9rem;}
.fs120 {font-size: 12rem;}

.normal {font-weight: normal;}
.light {font-weight: 300;}
.regular{font-weight: 400;}
.medium {font-weight: 500;}
.bold {font-weight: 700;}
.nowrap {white-space: nowrap;}

.lh1 {line-height: 1;}
.lh11 {line-height: 1.1;}
.lh12 {line-height: 1.2;}
.lh13 {line-height: 1.3;}
.lh14 {line-height: 1.4;}
.lh15 {line-height: 1.5;}
.lh16 {line-height: 1.6;}
.lh17 {line-height: 1.7;}
.lh18 {line-height: 1.8;}
.lh20 {line-height: 2.0;}
.lh25 {line-height: 2.5;}

.tsw {text-shadow: 1px 1px 0 #FFF;}
.italic {font-style: italic;}
.dsbl {display: inline-block;}

.speech {
  position: relative;
  z-index: 1;
  line-height: 1;
  padding: 0 3rem;
}
.speech::before, .speech::after {
  content: "";
  position: absolute;
  bottom: 0.6rem;
  width: 1.8rem;
  height: 3.7rem;
  z-index: -1;
}
.speech::before {
  left: 0;
}
.speech::after {
  right: 0;
}
.speech01::before {
  background: url(../img/speech01L.webp) no-repeat center center;
  background-size: cover;
}
.speech01::after {
  background: url(../img/speech01R.webp) no-repeat center center;
  background-size: cover;
}
.speech02::before {
  background: url(../img/common/speech02_l.svg) no-repeat center center;
  background-size: cover;
}
.speech02::after {
  background: url(../img/common/speech02_r.svg) no-repeat center center;
  background-size: cover;
}

@media screen and (max-width:749px) {
  html {
    font-size: 1.33333vw
  }
  .pc {display: none;}
  .sp {display: block;}
  .sp.dnone {display: none;}
}