@charset "utf-8";
table {
    width: 100%;
    text-align: left;
}
td,
th {
    display: block;
}
.bgon li,
.fl_l li,
.sebx li {
    display: inline-block;
}
.f_bb {
    border-bottom: 0.1rem solid #ccc;
    padding: 0 0 3rem 0;
    margin: 0 0 3rem 0;
}
.colSmallSize {
    display: inline-block;
}
.hs {
    display: inline-block;
    color: #fff;
    padding: 0.3rem 1rem;
    margin: 0 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    font-style: normal;
    border-radius: 0.6rem;
    position: relative;
    top: -0.2rem;
    background: #A41B30;
}
input[type="tel"],
input[type="text"],
select,
textarea {
    vertical-align: bottom;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0.9rem;
    height: 7.4rem;
    line-height: 7.4rem;
    width: 65rem;
    padding: 0 2rem;
    font-size: 3.4rem;
}
select {
    max-width: 65rem;
    width: inherit;
    color: #333;
}
textarea {
    line-height: 4.6rem;
    height: 30rem;
    padding: 2rem;
}
input[type="checkbox"] {
    display: none;
}

#form .ttl{
    color: #138098;
}

.checkbox01 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 3rem;
    position: relative;
    width: auto;
}
.checkbox01::before {
    background: #fff;
    border: 0.1rem solid #ccc;
    content: "";
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    left: 0;
    margin-top: -1.3rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 50%;
}
.checkbox01::after {
    border-right: 0.4rem solid #A41B30;
    border-bottom: 0.4rem solid #A41B30;
    content: "";
    display: block;
    height: 1.5rem;
    left: 0.7rem;
    margin-top: -1.2rem;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 0.6rem;
}
input[type="checkbox"]:checked + .checkbox01::after {
    opacity: 1;
}
input[type="radio"] {
    display: none;
}
.radio01 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 3rem;
    position: relative;
    width: auto;
}
.radio01::before {
    background: #fff;
    border: 0.1rem solid #ccc;
    content: "";
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    left: 0;
    margin-top: -1.2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
}
.radio01::after {
    content: "";
    display: block;
    position: absolute;
    left: 0.6rem;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.3rem;
    height: 1.3rem;
    background: #f85e1e;
    border-radius: 50%;
}
input[type="radio"]:checked + .radio01::after {
    opacity: 1;
}
button {
    border: none;
    cursor: pointer;
}

.btn_box {
    width: 71.5rem;
    height: 13.1rem;
/*    background: url(../img/btnForm.webp) no-repeat center center;*/
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 6rem;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 13.1rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #00000080;
}

.btnFormContact .btn_box {
    background: url(../img/btnForm.webp) no-repeat center center;
    width: 64.4rem;
    height: 11rem;
    line-height: 11rem;
    background-size: 100% 100%;
}

.btn_box02 {
    background: url(../img/btnForm02.webp) no-repeat center;
    width: 71.5rem;
    height: 12.5rem;
    background-size: 100% 100%;
}

/* .btn_box::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: calc(50% - 1.1rem);
    right: 5rem;
    width: 1.6rem;
    height: 2.3rem;
    background: url(../img/common/btn_arw.webp) no-repeat center center;
    background-size: cover;
} */
.btn_box::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: -18rem;
    left: 0;
    width: 3rem;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn 3s ease-in-out infinite;
}
@keyframes shiny-btn {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }
    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}