@charset "utf-8";

/*----- voice -----*/
/*tabの形状*/
.tabnav {
  display: flex;
  flex-wrap: wrap;
}
.tabnav li {
  width: 23rem;
  margin: 0 1rem 0 0;
  text-align: center;
}
.tabnav li:last-child {
  margin: 0;
}
.tabnav li span {
  display: block;
  background: #999999;
  line-height: 6rem;
  border-radius: 9px 9px 0 0;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.tabnav li span:hover {
  opacity: 0.8;
}
.tabnav li span:focus, .tabnav li span:active {
  opacity: 1;
}
/*liにactiveクラスがついた時の形状*/
.tabnav li.active span {
  pointer-events: none;
  background: #199342;
}

/*エリアの表示非表示と形状*/
.tab_area {
  display: none;
  opacity: 0;
}
/*areaにis-activeというクラスがついた時の形状*/
.tab_area.show {
  display: block;
  opacity: 1;
}

.v_ttl {
  min-height: 15.6rem;
}
.v_name {
  background: #199342;
  padding: 0.5rem 2rem;
  width: 53rem;
}
.v_img {
  width: 23rem;
  position: absolute;
  top: -1rem;
  right: 0;
}
.v_body {
  border: 0.1rem solid #e1f5eb;
}
.v_body b {
  text-decoration: underline;
}

/*----- achievement -----*/
#position-modal, #position-modal02, #position-modal03 {
  width: 100%;
  overflow: hidden;
}
#posi-modal-base, #posi-modal-cont, #posi-modal-base02, #posi-modal-cont02, #posi-modal-base03, #posi-modal-cont03 {
  margin-left: -100vw;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  position: fixed;
}
#posi-modal-base, #posi-modal-base02, #posi-modal-base03 {
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.5;
  left: 0;
  top: 0;
  z-index: 101;
}
#posi-modal-cont, #posi-modal-cont02, #posi-modal-cont03 {
  top: calc(50% - 23rem);
  z-index: 110;
}
#posi-modal-cont02 {
  top: calc(50% - 27.4rem);
}
#posi-modal-cont03 {
  top: calc(50% - 26rem);
}
#posi-modal-close, #posi-modal-close02, #posi-modal-close03 {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  margin-top: -2.5rem;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
}
.achievement_img {width: 71rem;}
.achievement_btn {
  width: 23rem;
}
#achievement_notes {
  background: url(../img/achievement/notes.svg) no-repeat center center;
  background-size: cover;
  height: 15rem;
  padding: 3rem 0 0 0;
}

/*----- issue -----*/
#issue_arw {
  width: 8rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2rem;
  margin: 0 auto;
  animation: arw 0.7s ease-in infinite alternate;
}
@keyframes arw{
  0% {bottom:-1rem;}
  100% {bottom:-3rem;}
}

/*----- issue -----*/
#issue {
  background: #eeeeee url(../img/issue/bg01.webp) no-repeat center bottom;
  background-size: 33.8rem;
  border-bottom: 0.2rem solid #3e3a39;
}
#issue .box {
  height: 77.5rem;
}
#issue_img01 {
  width: 36.3rem;
  height: 17.9rem;
  background: url(../img/issue/img01.svg) no-repeat center bottom;
  background-size: cover;
  position: absolute;
  left: 1.2rem;
  top: 20.2rem;
  padding: 3.5rem 0 0 0;
}
#issue_img02 {
  width: 32.7rem;
  height: 17.9rem;
  background: url(../img/issue/img02.svg) no-repeat center bottom;
  background-size: cover;
  position: absolute;
  right: 3.3rem;
  top: 21.2rem;
  padding: 3.5rem 0 0 0;
}
#issue_img03 {
  width: 29.8rem;
  height: 16.9rem;
  background: url(../img/issue/img03.svg) no-repeat center bottom;
  background-size: cover;
  position: absolute;
  left: 7.1rem;
  top: 37.9rem;
  padding: 3rem 0 0 0;
}
#issue_img04 {
  width: 36.3rem;
  height: 21rem;
  background: url(../img/issue/img04.svg) no-repeat center bottom;
  background-size: cover;
  position: absolute;
  right: 0.5rem;
  top: 38.9rem;
  padding: 3rem 0 0 0;
}

/*----- issue02 -----*/
#issue02 {
  background: #eeeeee url(../img/issue/bg02.webp) no-repeat center bottom;
  background-size: 47.1rem;
  border-bottom: 0.2rem solid #199342;
}
#issue02 .box {
  padding: 9rem 2rem 24rem 2rem;
}

/*----- solution -----*/
#solution_box {
  background: url(../img/issue/bg03.webp) no-repeat center bottom;
  background-size: cover;
  height: 21.5rem;
  padding: 5.5rem 3rem;
}
/* 矢印 */
#arw3 {
  position: relative;
  height: 7.8rem;
  width: 12rem;
  margin: 0 auto;
}
#arw3 li {
  height: 0;
  width: 0;
  top:0;
  border-left: 6rem solid transparent;
  border-right: 6rem solid transparent;
  border-top: 4.8rem solid #199342;
  position: absolute;
}
#arw3 li:nth-child(1) {
  top:0;
}
#arw3 li:nth-child(2) {
  animation: arw3 2s infinite;
  opacity: 0;
  top:1.5rem;
  animation-delay: .15s;
}
#arw3 li:nth-child(3) {
  animation: arw3 2s infinite;
  opacity: 0;
  top:3rem;
  animation-delay: .3s;
}
@keyframes arw3 {
0% {opacity: 0;}
50% {opacity: 0.1;}
100% {opacity: 0;}
}

/*----- strong -----*/
.strong_box {
  border-radius: 1.5rem;
  padding: 5rem 3rem 3rem 3rem;
}
.strong_ttl {
  position: absolute;
  top: -3.3rem;
  width: 18rem;
  left: 0;
  right: 0;
}

/*----- why -----*/
#why {
  background: url(../img/why/bg01.webp) no-repeat center bottom;
  background-size: cover;
  height: 24.1rem;
  padding: 8rem 0 0 0;
}
#why02 {
  background: url(../img/why/bg02.webp) no-repeat center bottom;
  background-size: cover;
  height: 22.8rem;
}
#why02 .box {
  padding: 3.5rem 0 0 0;
}
#why_img02 {
  width: 17.2rem;
  position: absolute;
  top: -1.2rem;
  left: 16.6rem;
}
#why_img03 {
  width: 21.6rem;
  position: absolute;
  top: 3.1rem;
  left: 5.8rem;
}
#why_img04 {
  width: 17.2rem;
  position: absolute;
  top: 9rem;
  left: 2rem0;
}
#why_img05 {
  width: 44rem;
}

/*----- couurse -----*/
#couurse_box li {
  width: 32rem;
}
#couurse_box h3 {
  background: #199342;
  border-radius: 3rem;
  padding: 0.5rem 0;
}
#course_notes {
  background: url(../img/course/img09.svg) no-repeat center top;
  background-size: cover;
  height: 21rem;
  padding: 1rem 0 0 0;
}

/*----- step -----*/
#step_tel {
  width: 19.3rem;
}
#step_btn {
  width: 38.3rem;
}
#step02_ttl {
  border-bottom: 0.5rem solid #199342;
}
#step02_li li {
  border-bottom: 0.1rem dashed #f85e1e;
}

/*----- scampaign -----*/
.scampaign {
  background: url(../img/scampaign/bg.webp) no-repeat center top;
  background-size: cover;
  height: 154rem;
  padding-top: 16rem;
}
.scampaign_ttl {
  padding: 0 1rem 0 8rem;
}
.scampaign_img01 {
  width: 64.7rem;
}
.scampaign_content {
  width: 71rem;
}
.scampaign_parents {
  width: 71rem;
}




/*----- shop -----*/
#shop_color li {
  line-height: 4rem;
  font-weight: bold;
  position: relative;
  padding: 0 0 0 5.5rem;
  margin: 0 0 1rem 0;
}
#shop_color li::before {
  content: '';
  display: block;
  background: linear-gradient(to bottom,#ffb200,#ff9300 50%);
  box-shadow: 0 0 0 0.1rem #ff9300 inset;
  width: 4.5rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: calc(50% - 1.5rem);
  border-radius: 0.3rem;
}
#shop_color li:nth-child(2)::before {
  background: #199342;
  box-shadow: none;
}

.shop_ttl01 {
  background: #1a4369;
  color: #FFF;
  padding: 1.5rem 3rem;
  margin: 0 0 0.2rem 0;
  font-weight: bold;
  border-radius: 0.9rem;
  position: relative;
  cursor: pointer;
}
.shop_ttl01::before, .shop_ttl01::after {
  content: "";
  display: block;
  background: #FFF;
  border-radius: 0.2rem;
  position: absolute;
}
.shop_ttl01::before {
  width: 0.4rem;
  height: 2.4rem;
  top: calc(50% - 1.2rem);
  right: 4rem;
}
.shop_ttl01::after {
  width: 2.4rem;
  height: 0.4rem;
  top: calc(50% - 0.2rem);
  right: 3rem;
}
.shop_ttl01.active::before {
  display: none;
}
.shop_box {
  padding: 3rem;
  display: none;
}
.shop_box > div > div {
  margin: 0 1rem 1rem 0;
}
.shop_box > div > div:nth-child(2n) {
  margin: 0 0 1rem 0;
}
.shop_ttl02 a {
  display: block;
  color: #ffffff;
  padding: 1.5rem 3rem;
  margin: 0 0 0.2rem 0;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  width: 26rem;
  border-radius: 4rem;
  position: relative;
  z-index: 1;
  background: #ff9300;
  position: relative;
  z-index: 1;
}
.shop_ttl02 a::before {
  content: "";
  display: block;
  width: calc(100% - 0.6rem);
  height: calc(100% - 0.6rem);
  background: linear-gradient(to bottom,#ffb200,#ff9300 50%);
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  border-radius: 6rem;
  z-index: -1;
}
.shop_ttl02 a::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/shop/modal.svg) no-repeat 90% center;
  background-size: 2rem;
  position: absolute;
  right: 3rem;
  top: calc(50% - 1rem);
  z-index: 1;
}
.shop_ttl02 a:hover {
  opacity: 0.8;
}
.online {
  pointer-events: none;
  cursor: default;
}
.online a {
  pointer-events: none;
  cursor: default;
  background: #199342;
  color: #ffffff;
}
.online a:hover {
  opacity: 1;
}
.online a::before, .online a::after {
  content: none;
}
.shop_ttl03 {
  color: #ff9300;
  background: #fff8ed;
  padding: 1.5rem 2rem;
}
.shop_area .flex p {
  margin: 0 1rem 1rem 0;
  font-weight: bold;
  width: 28rem;
  border-radius: 0.9rem;
}
.shop_area .flex p:nth-child(2n) {
  margin: 0 0 1rem 0;
}
.shop_ttl04 {
  background: #e7ffef;
  color: #199342;
  padding: 1rem 2rem;
  line-height: 1.2;
}
.shop_link a, .js_shop_link a {
  display: inline-block;
  color: #005aff;
  padding-left: 3rem;
  background: url(../img/shop/arw.svg) no-repeat left center;
  background-size: 2.3rem;
}


/*----- faq -----*/
.faq_btn {
  display: block;
  width: 35rem;
  height: 8.3rem;
  line-height: 8.3rem;
  text-decoration: none;
  background: url(../img/faq/btn.svg) no-repeat center top, url(../img/faq/btn_h.svg) no-repeat center top; /* 予めhover時の画像を読み込むことでチラつき防止 */
  background-size: cover;
}
.faq_btn:hover {
  background: url(../img/faq/btn_h.svg) no-repeat center top;
  background-size: cover;
}
.faq_ttl {
  background: #199342 url(../img/faq/ttl.svg) no-repeat 3rem center;
  background-size: 1rem;
  border-radius: 0.9rem;
  padding: 2rem 2rem 2rem 5rem;
}

.accordion_box {
  border: 0.1rem solid #199342;
  background: #FFF;
  margin-right: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0 #00000026;
}
/*アコーディオンタイトル*/
.faq_q {
  cursor: pointer;
  padding: 0 2rem 0 5rem;
  position: relative;
}
.faq_q::before {
  content: "";
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  background: url(../img/faq/q.svg) no-repeat center top;
  background-size: 4.2rem;
  position: absolute;
  top: calc(50% - 2.1rem);
  left: 0;
}
/*アコーディオンで現れるエリア*/
.faq_a {
  display: none;/*はじめは非表示*/
  background: #FFF;
  padding: 2rem 0 0 5rem;
  margin-top: 2rem;
  position: relative;
  border-top: 0.1rem solid #199342;
}
.faq_a::before {
  content: "";
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  background: url(../img/faq/a.svg) no-repeat center top;
  background-size: 4.2rem;
  position: absolute;
  top: 2rem;
  left: 0;
}

/*アイコンの＋と×*/
.faq_q::after {
    position: absolute;
    content:'';
    width: 0.8rem;
    height: 1.4rem;
    top: calc(50% - 0.4rem);
    right: 0;
    background: url(../img/faq/arw.svg) no-repeat center top;
    background-size: contain;
    transition: 0.3s;
}
/*　closeというクラスがついたら形状変化　*/
.faq_q.close::after {
  transform: rotate(90deg);
}


/*----- footer_on -----*/
#footer_on {
  background: url(../img/footer/bg.svg) no-repeat center top;
  background-size: contain;
}
#footer_on .flex li {
  margin: 0 1.5rem;
}
#f_logo01 {
  width: 20rem;
}
#f_logo02 {
  width: 23.2rem;
}
/*----- footer -----*/
footer {
  background: #199342;
  color: #FFF;
}
footer a {
  display: inline-block;
  margin: 0 1rem 2rem;
  color: #FFF;
}

@media screen and (min-width:600px) {

}

@media screen and (max-width:599px) {
}