@media screen and (min-width:481px) {
    #conversion {
        visibility: collapse;
        padding: 0;
        height: 0;
    }
}

.cusTabGroup .tabgroup {
    border: 0.2rem solid #3C3939;
    border-top: 0.1rem;
    border-radius: 0.2rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cusTabGroup .tabnav {
    flex-wrap: nowrap;
    width: 71rem;
    margin-left: -0.2rem;
    margin-top: -0.2rem;
}

.cusTabGroup .tabnav li {
    width: calc(50% + 0.1rem);
    margin: 0;
    box-sizing: border-box;
    margin-left: -0.2rem;
}

.cusTabGroup .tabnav li:first-child {
    margin-left: 0;
}

.cusTabGroup .tabnav li span {
    line-height: 1.5;
    background-color: #D8DBDC;
    font-size: 3.12rem;
    color: #3C3939;
    border: 0.2rem solid #3C3939;
    border-radius: 0.2rem;
    border-top-right-radius: 0.35rem;
    border-top-left-radius: 0.35rem;
    transition: initial;
}

.cusTabGroup .tabnav li span:hover {
    opacity: 1;
}

.cusTabGroup .tabnav li.active span {
    background-color: #FF7800;
    color: #FFF;
    border-bottom: 0;
}

.cusTabGroup .tabnav li:first-child.active {
    background-color: #50aac7;
}

.cusTabGroup .tabnav li:first-child.active span {
    color: #F6F8F8;
    background-color: #50aac7;
}

.tabGreyImg {
    margin-top: -1px;
}

.cusTabGroup .tab_area .tlText {
    width: 66.6rem;
}

.cusTabGroup .taLeft {
    padding: 1.2rem 0 1.6rem 0;
    background-image: url(../img/custom/tlBg.jpg);
    background-size: 100% 100%;
}

.cusTabGroup .textWhite {
    height: 18.2rem;
    border-radius: 1rem;
    width: 67.8rem;
    padding: 0.21rem;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    background-color: #FAFCFC;
}

.cusTabGroup .textWhite .tw1Img {
    width: 34.6rem;
}

.cusTabGroup .textWhite .tw2Img {
    width: 25rem;
}

.cusTabGroup .textWhite.leftPart {
    text-align: left;
}

.cusTabGroup .textWhite.rightPart {
    text-align: right;
}

.cusTabGroup .textWhite .gTW {
    position: absolute;
    top: -0.7rem;
    text-align: left;
    left: 1.35rem;
}

.cusTabGroup .textWhite.leftPart .gTW {
    left: 25rem;
}

.cusTabGroup .textWhite .gTW h3 {
    margin-bottom: 0.4rem;
    width: 30.5rem;
    height: 5.7rem;
    padding-top: 0.8rem;
    box-sizing: border-box;
    font-size: 2.6rem;
    font-weight: bold;
    color: #FAFCFC;
    text-align: center;
    background-image: url(../img/custom/tlLbl01.png);
    background-size: cover;
}

.cusTabGroup .textWhite.leftPart .gTW h3 {
    background-image: url(../img/custom/tlLbl02.png);
    background-size: cover;
    margin-left: 6rem;
}

.cusTabGroup .textWhite .gTW p {
    font-size: 2.113rem;
    color: #211714;
    font-weight: bold;
    line-height: 1.38;
    padding-left: 3.5rem;
    position: relative;
    margin-bottom: 1.1rem;
    margin-left: 1rem;
}

.cusTabGroup .textWhite.leftPart .gTW p {
    font-size: 1.8rem;
    padding-left: 2.8rem;
    margin-bottom: 1.8rem;
}

.cusTabGroup .textWhite .gTW p:last-child {
    margin-bottom: 0;
}

.cusTabGroup .textWhite .gTW p:after {
    content: '';
    position: absolute;
    height: 2.356rem;
    width: 2.336rem;
    background-image: url(../img/custom/white-check.svg);
    background-size: 100% 100%;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
}

.cusTabGroup .textWhite.leftPart .gTW p:after {
    height: 2.4rem;
    width: 2.2rem;
}

.taLeftDes {
    font-size: 1.3rem;
    text-align: right;
    font-weight: bold;
    color: #3C3939;
    padding: 1rem 1.2rem 0 0;
}

.cusTabGroup .taRight {
    padding: 3.5rem 0 1.5rem 0;
    box-sizing: border-box;
    background-image: url(../img/custom/trBg.png);
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
}

.cusTabGroup .orangeContent {
    width: 67.5rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
    position: relative;
}

.cusTabGroup .orangeContent .trImg02 {
    width: 62.58rem;
    position: absolute;
    left: 50%;
    top: 4.8rem;
    transform: translate(-50%,0);
    z-index: 1;
}

.cusTabGroup .orangeContent .trImg01 {
    position: absolute;
    height: 25.3rem;
    bottom: 0;
    right: -1.5rem;
}

.cusTabGroup .orangeRow {
    width: 67.5rem;
    height: 22.85rem;
    background-color: #FAFCFC;
    border: 0.2rem solid #FF7800;
    border-radius: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.cusTabGroup .orangeRow img {
    height: 100%;
}

.cusTabGroup .orangeRow .orangeRowContent {
    position: absolute;
    top: -0.8rem;
    left: 27.8rem;
}

.cusTabGroup .orangeRow .orangeRowContent h3 {
    width: 30.5rem;
    height: 5.7rem;
    padding-top: 0.8rem;
    box-sizing: border-box;
    font-size: 2.6rem;
    font-weight: bold;
    color: #FAFCFC;
    text-align: center;
    background-image: url(../img/custom/tlLbl03.png);
    background-size: cover;
    margin-left: 3.7rem;
    margin-bottom: 1rem;
}

.cusTabGroup .orangeRow .orangeRowContent p {
    font-size: 2.1rem;
    color: #211714;
    font-weight: bold;
    line-height: 1.38;
    padding-left: 3.5rem;
    position: relative;
    margin-bottom: 1.1rem;
}

.cusTabGroup .orangeRow .orangeRowContent p:last-child {
    margin-bottom: 0;
}

.cusTabGroup .orangeRow .orangeRowContent p:after {
    content: '';
    position: absolute;
    height: 2.356rem;
    width: 2.336rem;
    background-image: url(../img/custom/orange-check.svg);
    background-size: 100% 100%;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
}

.taRightDes {
    font-size: 1.3rem;
    text-align: right;
    font-weight: bold;
    color: #3C3939;
    padding: 1.2rem 1.2rem 0 0;
}

#greyTab,
#orangeTab {
    cursor: pointer;
}

@media screen and (max-width:480px) {
    .cusTabGroup .textWhite.leftPart .gTW p {
        font-size: 1.7rem;
    }
}

.gk77 {
    position: absolute;
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.2;
    top: 4rem;
    right: 25.3rem;
    font-weight: bold;
    color: #FFF;
    min-width: 11.3rem;
    font-family: "游ゴシック", "游ゴシック体", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    padding: .1rem .2rem;
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.gk77 strong {
    color: #EE6C00;
}

.gk77_01 {
    position: absolute;
    text-align: center;
    font-size: 2.4rem;
    top: 1.5rem;
    left: -2.5rem;
    font-weight: bold;
    color: #EE6C00;
    min-width: 15rem;
    font-family: "游ゴシック", "游ゴシック体", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.gk77_02 {
    position: absolute;
    text-align: center;
    font-size: 2.4rem;
    top: 1.5rem;
    left: -4rem;
    font-weight: bold;
    color: #EE6C00;
    min-width: 15rem;
    font-family: "游ゴシック", "游ゴシック体", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.gk77_01 strong {
    color: #EE6C00;
    font-size: 5rem;
}

.gk77_02 strong{
    color: #EE6C00;
    font-size: 5rem;
}

.note90 {
    padding: 0.5rem 0 1rem 5rem;
    box-sizing: border-box;
}

.gk90Banner {
    padding-bottom: 6.2rem;
    background-image: url(../img/mi/gek90Bg.png);
    background-size: 100% 100%;
    margin-bottom: -9.5rem;
    position: relative;
    z-index: 100;
}
#step_tel {
    width: 19.3rem;
}

a.aTagTel { 
    position: relative;
}

a.aTagTel span {
    position: absolute;
    content: '0120-351056';
    color: #3e3a39;
    font-size: 2.5rem;
    font-weight: bold;
    white-space: nowrap;
    left: 4rem;
    top: -0.6rem;
}


.plr75{
    padding-left: 7.5rem;
    padding-right: 7.5rem;
}

.mt30{
    margin-top: 3rem;
}

.v_head .v_headTxt{
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 3.5rem;
    left: 1.7rem;
    padding: 0.2rem 1.5rem;
    border-radius: 10rem;
    background-color: #198B42;
    color: #fff;
}

/*----- scampaign -----*/
.scampaign {
    background: url(../img/scampaign/bg.webp) no-repeat center top;
    background-size: cover;
    height: 154rem;
    padding-top: 16rem;
  }
  .scampaign_ttl {
    padding: 0 1rem 0 8rem;
  }
  .scampaign_img01 {
    width: 64.7rem;
  }
  .scampaign_content {
    width: 71rem;
  }
  .scampaign_parents {
    width: 71rem;
  }
  
  